.Pokedex {
  text-align: center;
  margin: 20px auto;
}

.Pokedex-Winning {
  margin-top: 0;
  color: rgb(22, 172, 22);
}

.Pokedex-Losing {
  margin-top: 0;
  color: rgb(214, 33, 169);
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}