.Pokecard {
  background: #ffffff;
  width: 250px;
  text-align: center;
  border-radius: 1px;
  padding: 5px;
  display: inline-block;
  margin: 20px 50px;
  box-shadow: 5px 5px rgb(165, 164, 164);
}

.Pokecard-img {
  margin-top: 5px;
  width: 240px;
  height: 240px;
  background: #dddcdc;
}

.Pokecard-p {
  margin: 0;
}