.Pokecard {
  background: #ffffff;
  width: 250px;
  text-align: center;
  border-radius: 3px;
  padding: 5px;
  display: inline-block;
  margin: 20px 50px;
  box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
  animation: come-in 2s ease;
  box-sizing: border-box;
}

.Pokecard-img {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin: 2px auto;
  width:  240px;
  height: 240px;
  background: #f0efef;
  border-radius: 3px;
}

.Pokecard-img img {
  transition-duration: 2s, 2s;
}

.Pokecard-img img:hover {
  transition-duration: 2s, 2s;
  transform: scale(1.5,1.5);
  opacity: 0.9;
}

.Pokecard-data {
  font-size: .8rem;
}

.Pokecard-selected {
  box-shadow: 0px 0px 5px 5px rgba(209, 11, 11, 1.0);
}

@keyframes come-in {
  from { transform: translateY(-150%) } to { transform: translateY(0); }
}
